# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit-specific cache
.streamlit/

# VSCode or other IDE configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Python virtual environments
env/
venv/
.venv/
ENV/

# Output files
output.json
*.log
